<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Can Li
              </h1>
              <p>I am a Ph.D. student in Robotics at <a href="https://en.nankai.edu.cn/">Nankai University</a>, Tianjin, China. My research focuses on visual reconstruction, simulation, and manipulation of deformable objects.
              </p>
              <p style="text-align:center">
                <a href="mailto:canli@mail.nankai.edu.cn">Email</a> 
                <!-- <a href="https://github.com/TODO">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=TODO">Google Scholar</a> -->
              </p>
            </td>
            <!--
            <td style="padding:2.5%;width:25%;max-width:30%">
              <img style="width:100%;max-width:100%;border-radius:50%" alt="profile photo" src="images/profile.png">
            </td>
            -->
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <p>
                <strong>World Model</strong>: visual reconstruction, simulation, and generation of deformable objects
                <br>
                <strong>Robotics</strong>: visual-tactile manipulation of deformable objects, SLAM(early)
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:1% 2.5%;width:100%;vertical-align:middle">
              {{post.authors}}.
              <strong>{{post.title}}</strong>.
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}.
              {% if post.note %}({{post.note}}){% endif %}
              {% if post.arxiv %}
              [<a href="{{post.arxiv}}">arXiv</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{post.paper}}">paper</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}">code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{post.video}}">video</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{post.website}}">website</a>]
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research & Development Projects</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:1% 2.5%;width:100%;vertical-align:middle">
              <h3 style="margin-bottom:0px">{{post.title}}</h3>
              <div>
                <em>{{post.role}}</em>
                <span style="float:right">{{post.period}}</span>
              </div>
              <div>{{post.organization}}</div>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

